/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/

/node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity
.env

/coverage

/spec/dummy/app/assets/builds/
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/
/spec/dummy/public/

/vendor

.DS_Store
