<% Documentation.permission_subjects.each do |subject| %>
  <h4 class="title is-4"><%= subject.pluralize %></h4>

  <%= tag.div id: dom_id(@workspace, "subject_#{subject}") do %>
    <% Array(@grouped_permissions[subject]).each do |permission| %>
      <%= render permission %>
    <% end %>
  <% end %>

  <hr />

  <%= render 'form', permission: @permission, subject: subject %>

  <hr />
<% end %>
