<div id="<%= dom_id page %>">
  <h1 class="title is-1"><%= page.title %></h1>
  <p class="subtitle"><%= page.description %></p>

  <div class="rich-editor-content">
    <%= sanitize page.content %>
  </div>
</div>
