<% content_for :container_class, 'is-max-desktop' %>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_with_icon "Back to pages", 'arrow-back', pages_path %></li>
  </ul>
</nav>

<%= render "form", page: @page %>
