<%= render 'documentation/workspaces/menu', pages: @root_pages %>

<%= render @page %>

<% if @files.count.positive? %>
  <hr>
  <h2 class="title is-2"><%= t('documentation.page.files') %></h2>

  <%= render 'files', files: @files, page: @page %>
<% end %>