<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_with_icon "Back to pages", 'arrow-back', pages_path %></li>
  </ul>
</nav>

<%= render @page %>

<hr/>

<div>
  <%= link_with_icon "Edit", 'edit', edit_page_path(@page) %> |
  <%= link_with_icon "Delete", 'trash', @page, class: 'has-text-danger',
      method: :delete, data: { confirm: '¿Estás seguro?' } %>
</div>
