<%= render 'documentation/workspaces/menu', pages: @root_pages %>

<%= render @page %>



<% if @documents.count.positive? %>
  <hr>
  <h2 class="title is-2"><%= t('documentation.page.documents') %></h2>

  <%= render 'documents', documents: @documents, page: @page %>
<% end %>