.vh-centered {
  display: flex !important;
  justify-content: center;
  align-items: center;

  &.inline {
    display: inline-flex !important;
  }
}

.is-fullheight {
  height: 100%;
}

.is-fullwidth {
  width: 100%;
}

.box {
  .is-top-right {
    position: absolute;
    top: $box-padding;
    right: $box-padding;
  }
}
