$menu-box-shadow: 0px 9px 9px rgba($black, 0.2), 0 0 0 1px rgba($black, 0.12);

.rich-editor-content {
  p {
    min-height: 1.5rem;
  }

  h1 {
    font-size: $size-3;
  }

  h2 {
    font-size: $size-4;
  }

  h3 {
    font-size: $size-5;
  }

  ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
  }

  li {
    display: list-item;
  }

  ol {
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
  }

  blockquote {
    background-color: $grey-lightest;
    border-left: 5px solid $grey-lighter;
    padding: 1.25em 1.5em;
  }

  blockquote:not(:last-child),
  dl:not(:last-child),
  ol:not(:last-child),
  p:not(:last-child),
  pre:not(:last-child),
  table:not(:last-child),
  ul:not(:last-child) {
    margin-bottom: 1em;
  }
}

.rich-text-editor-component {
  &.input {
    height: unset;
    min-height: 5rem;
  }

  .is-active {
    color: $primary;
  }

  .ProseMirror {
    outline: none;
    min-height: 16rem;

    p.is-editor-empty:first-child:before {
      content: attr(data-placeholder);
      float: left;
      color: #adb5bd;
      pointer-events: none;
      height: 0;
    }
  }
}

.rich-text-editor-menu {
  display: flex;
  box-shadow: $menu-box-shadow;
  text-align: center;
  border-radius: 0.25rem;

  .dropdown-menu {
    min-width: unset;
  }

  .dropdown-trigger {
    a {
      width: auto;
      border-radius: 0.25rem 0 0 0.25rem;
    }

    .svg-inline {
      width: 0.75em;
      height: 0.75em;

      path {
        fill: $grey-light;
      }
    }
  }

  > :first-child {
    border-radius: 0.25rem 0 0 0.25rem;
  }

  > :last-child {
    border-radius: 0 0.25rem 0.25rem 0;
  }

  a {
    display: inline-block;
    color: $black-ter;
    background-color: white;
    border-right: 1px solid $grey-lightest;
    padding: 0.25rem;
    width: 2rem;

    &.dropdown-item {
      display: block;
      border: none;
      width: 100%;
      text-align: left;
      padding: 0.25rem 1rem;

      &.is-active {
        background-color: $white;
        color: $black;
        font-weight: bold;
        text-decoration: underline;
      }

      &:hover {
        background-color: $grey-lightest;
      }
    }

    &:hover {
      background-color: $grey-lightest;
    }

    &.bold {
      font-weight: bold;
    }

    &.italic {
      font-style: italic;
    }

    &.underline {
      text-decoration: underline;
    }
  }
}
