.rich-text-editor-component .is-active {
  color: blue;
}

.rich-text-editor-component .ProseMirror {
  outline: none;
}

.rich-text-editor-menu {
  display: flex;
  box-shadow: 0px 3px 9px rgb(10 10 10 / 30%), 0 0 0 1px rgb(10 10 10 / 3%);
  border-radius: 0.25rem;
  overflow: hidden;
  text-align: center;
}

.rich-text-editor-menu a {
  display: inline-block;
  background-color: white;
  padding: 0.25rem;
  width: 1rem;
}

.rich-text-editor-menu a:hover {
  background-color: #ededed;
}

.rich-text-editor-menu a.bold {
  font-weight: bold;
}

.rich-text-editor-menu a.italic {
  font-style: italic;
}

.rich-text-editor-menu a.underline {
  text-decoration: underline;
}
