<% if notice %>
  <div data-controller="notification" data-notification-delay-value="3000" class="notification fixed is-success" data-turbo-cache="false">
    <button data-action="notification#close" class="delete"></button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div data-controller="notification" data-notification-delay-value="3000" class="notification fixed is-danger" data-turbo-cache="false">
    <button data-action="notification#close" class="delete"></button>
    <%= alert %>
  </div>
<% end %>
